/*
 *    colour.styl
 *
 *
 *		Chunks are ordered alphabetically.
 *    Consists of backgrounds, and colour chunks:
 *
 *    .selector
 *      //colour properties
 */


/*
 *    GENERAL
 */

#skills
  background: $lightest
  color: $darkest

#about,
#work,
footer
  background: $darkest
  color: $lightest


.btn-overlay
  @extends $overlay-light
  color: $base

a,
.social span
  color: $base
  &:hover
    color: $base-light

.btn:focus
  box-shadow:  0 0 10px $base
  outline-style: none !important


/*
 *    PARALLAX BACKGROUND
 */

.background
  background-color: $white
  background-image: url(../images/parallax-background.jpg)


/*
 *    NAVIGATION
 */
 
.collapse[aria-expanded=true]
  @extends $overlay-dark
  & a
    color: $lightest

.sticky .navbar
  background: $lightest
  
  & .collapse[aria-expanded=true]
    background: transparent
    & a
      color: $base

.icon-bar
    background: $second-secondary

.navbar-nav li
  & a:hover
    background: alpha(lighten($second-secondary, 30), .5)
    color: $base-dark
      
  &.active
    background: alpha($second-secondary, .5)
    & a:hover
        background: alpha(lighten($second-secondary, 50), .5)


/*
 *    INTRO
 */
 
.profile-image
  border-color: $second-secondary

  background-image: url(../images/iamgroot.jpg)

.hello
  @extends $overlay-light
  & h1
    color: $base

.btn
  color: $darkest
  border-color: $dark-overlay


/*
 *    SKILLS
 */

.page-header
  border-bottom-color: $middle

.devicon
  color: $darkest

.skill
  & .text
    & .col-xs-4:nth-of-type(1):before
      border-left-color: $base
    & .col-xs-4:nth-of-type(2):before
      border-left-color: $base-light
    & .col-xs-4:nth-of-type(3):before
      border-left-color: $base-highlight

    & .small
      color: inherit
  
  & .percentage
      & .b
        background: $base
      & .i
        background: $base-light
      & .e
        background: $base-highlight


/*
 *    WORK
 */
 
.skew-page_content,
.card
  background-color: $middle
  
  //&_image:before,
  .card-title
    color: $white
    //background: alpha($base-light, .3)
    background: $dark-overlay

/*
.card-title
  background: rgba(250, 250, 250, 0.2)
*/

#page1
  .skew-page_content_image,
  .card-image
    background-image: url(../images/work_wearebamboo.png)

#page2
  .skew-page_content_image,
  .card-image
    background-image: url(../images/work_jcl-traffic.png)

#page3
  .skew-page_content_image,
  .card-image
    background-image: url(../images/work_minutetowinit.png)

/*
 *    CONTACT
 */
 
#target
  color: $lightest
  
.block
  @extends $overlay-light
  box-shadow: 0 5px 5px $dark-overlay 

.form-control
  @extends $overlay-dark
  color: #ddd;
  