/*
 *    main.styl
 *
 *
 *    Require statements are ordered alphabetically.
 *    Consists of require statements only.
 */
 
@require "./mixins.styl"
@require "./placeholders.styl"
@require "./colour.styl"
@require "./type.styl"
@require "./layout.styl"