/*
 *    COLOURS
 */
$white = #fff
$red = #995541
$lavander = #C1A65B
$lightest = #dee5ed
$pretty-light = #254f65
$darkest =  #071927


/*
 *    MEDIA
 */

@media(min-width: 441px)
  .graph .text h4 .fa-star
    display: none
  .graph .text h4 span
    display: inline
@media(max-width: 440px)
  .graph .text h4 .fa-star
    display: inline
  .graph .text h4 span
    display: none


/*
 *    GENERAL
 */

.wrapper,
.nav li,
a,
.btn,
.background
  transition: all .5s ease

.background
  content: ""
  position: fixed // instead of background-attachment
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  background-color: white
  background: url(https://static.pexels.com/photos/167699/pexels-photo-167699.jpeg)
  background-repeat: no-repeat
  background-position: 50%
  background-size: cover
  background-attachment: fixed
  will-change: transform
  z-index: -1

body
  font-family: Dosis, sans-serif

section,
header
  min-height: 100vh
  padding: 17vh 0

#about,
#skills
  background: $lightest

#quote,
#work,
footer
  background: desaturate($darkest, 50)
  color: $lightest

#contact
  /**/

.btn
  &.btn-round
    border-radius: 50%
  
  &.btn-overlay
    background: alpha($white, .5)
    color: $pretty-light
  &:focus
    outline-style: none !important
    box-shadow:  0 0 10px $pretty-light

a
  color: $pretty-light
  
  &:hover
    color: lighten($pretty-light, 20)


/*
 *    NAVIGATION
 */

.navbar
  max-height: 15vh
  z-index: 9999
  font-family: "Open Sans", Dosis, sans-serif
  
  & .wrapper
    padding: 2vh 0
    & .collapse[aria-expanded=true]
      background: alpha(desaturate($pretty-light, 50), .5)
      & li a
        color: $lightest
      
    &.sticky
      padding: 0
      background: alpha(lighten($lightest, 50), .5)
      & .collapse[aria-expanded=true]
        background: transparent
        & li a
          color: $pretty-light
      
  & .icon-bar
    background: $lavander
    
  & .navbar-collapse
    padding: 0
    
  & .navbar-nav
    margin: 0;
    & li
      & a:hover
          background: alpha(lighten($lavander, 30), .5)
          color: darken($pretty-light, 20)
          
      &.active
        background: alpha($lavander, .5)
        & a:hover
            background: alpha(lighten($lavander, 50), .5)


/*
 *    INTRO
 */

#intro
  position: relative
  
  & .profile-image
    background-image: url(https://scontent.fmad3-1.fna.fbcdn.net/v/t1.0-9/947320_944305358993529_198299321184402044_n.jpg?oh=8422ad7efbde19d79515cb3e6354ca1f&oe=58A53FCF)
    background-repeat: no-repeat
    background-position: 30% 5%
    background-size: 45vh
    margin-left: 20vw
    height: 37vh
    width: 37vh
    border: 3px solid $red
    border-top-color: lighten($red, 10)
    border-bottom-color: darken($red, 10)
    border-radius: 50%
  & .row
    margin: 0
    display: flex
    flex-wrap: wrap
    & .col-xs-12
      margin-top: 5vh
      padding: 0
      & .hello
        display: inline-block
        padding-left: 20vw
        padding-right: 3vw
        background: alpha($white, .3)
        & h1
          font-size: 8vmin
          color: $pretty-light
      & .btn
        position: relative
        bottom: 0
        font-size: 1.5em
        &:hover
          transform: scale(1.2, 1.2)

/*
 *    SKILLS
 */

.page-header
  border-bottom-color: desaturate($pretty-light, 50)
  
.graph
  overflow: hidden

.devicon
  font-size: 4em
  color: $pretty-light

.skill
  margin-top: 2em
  & .text
    & .col-xs-4:before
      content: ""
      left: 0
      position: absolute
      height: 300px
      border-left: 1px solid
      z-index: 20
    & .col-xs-4:nth-of-type(1):before
      border-left-color: $pretty-light
    & .col-xs-4:nth-of-type(2):before
      border-left-color: lighten($pretty-light, 20)
    & .col-xs-4:nth-of-type(3):before
      border-left-color: lighten($pretty-light, 40)
    
    & .small
      font-size: 18px
      color: inherit
    & .medium
      font-size: 22px
    & .large
      font-size: 24px
      
  & .percentage
    height: 1em

    & .col-xs-4
      padding: 0
      margin: 0
      height: inherit
      & .b,
      & .i,
      & .e
        height: inherit
        width: 0
      & .b
        background: $pretty-light
      & .i
        background: lighten($pretty-light, 20)
      & .e
        background: lighten($pretty-light, 40)

      & .full
        width: 100%
      & .half
        width: 50%
      & .third
        width: 33.33333333%
      & .quarter
        width: 20%


/*
 *    FOOTER
 */

footer
  padding-top: 2vh
  
  & .credits,
  & .social a
    display: block

  & .social a
    padding: 2.5vw 0
    & i
      font-size: 1.2em