/*
 *    type.styl
 *
 *
 *    Chunks are ordered alphabetically.
 *    Consists of typography chunks:
 *
 *    .selector
 *      //typography
 */
 
/*
 *    GENERAL
 */
 
body
  font-family: Dosis, sans-serif

/*
 *    NAVIGATION
 */

.navbar
  font-family: "Open Sans", Dosis, sans-serif


/*
 *    INTRO
 */
 
.hello h1
  font-size: 8vmin
#intro .btn
  font-size: 4.5vmin

/*
 *    SKILLS
 */

.devicon
  font-size: 4em

.skill .text
  & .small
    font-size: 18px
  & .medium
    font-size: 22px
  & .large
    font-size: 24px


/*
 *    FOOTER
 */

.social i
  font-size: 1.2em