/*
 *    type.styl
 *
 *
 *    Chunks are ordered alphabetically.
 *    Consists of typography chunks:
 *
 *    .selector
 *      //typography
 */
 
/*
 *    GENERAL
 */
 
body
  font-family: Dosis, sans-serif

h1
  font-size: 3em
p
  font-size: 1.3em

/*
 *    NAVIGATION
 */

.navbar
  font-family: "Open Sans", Dosis, sans-serif


/*
 *    INTRO
 */
 
.hello h1
  font-size: 8vmin
#intro .btn
  font-size: 4.5vmin

/*
 *    SKILLS
 */

.devicon
  font-size: 4em

.skill .text
  & .small
    font-size: 18px
  & .medium
    font-size: 22px
  & .large
    font-size: 24px

/*
 *    WORK
 */
.skew-page_content
  h2
    font-size: 3em
  p
    font-size: 1.5em
  li,
  .btn-sm
    font-size: 1.2em


/*
 *    FOOTER
 */

.social i
  font-size: 1.2em