/*
 *    variables.styl
 *
 *
 *		Chunks are ordered alphabetically.
 *    Consists of colour variables:
 *
 */


/*
 *		PRIMARY COLOURS
 */

$base = #254f65
$base-highlight = lighten($base, 40)
$base-light = lighten($base, 20)
$base-dark = darken($base, 20)


/*
 *		SECONDARY COLOURS
 */

$first-secondary = #995541
$second-secondary = #C1A65B


/*
 *		GRAYSCALE
 */

$white = #fff

$lightest = #dee5ed
$middle = desaturate($base, 50)
$darkest =  desaturate(#071927, 20)


/*
 *		OVERLAYS
 */

$light-overlay = alpha($white, .5)
$dark-overlay = alpha($darkest, .5)